$white: #ffffff;

$sky-blue: (
  background: #e7f1ff, // 背景 50
  100: #c5dfff,
  200: #acd2ff,
  300: #98c9ff,
  400: #80baff, // リンク
  500: #66adff, // ボーダー, ラベル
  600: #479eff,
  text: #2e91ff, // 文字 700
  button: #1986ff, // ボタン 800
  900: #0079ff,
);

$yellow: (
  background: #ffffee, // 背景 50
  100: #ffffd5,
  200: #ffffbf,
  300: #ffffaa,
  400: #ffff8f,
  500: #ffff74, // ボーダー, ラベル
  600: #ffff59,
  text: #fdfd3a, // 文字 700
  800: #ffff22,
  900: #ffff00,
);

$gray: (
  background: #f3f3f3, // 背景 50
  100: #e8e8e8,
  200: #d5d5d5,
  300: #afafaf,
  400: #818181,
  light-text: #606060, // 明るい文字 500
  500: #606060, // ボーダー
  600: #454545,
  text: #333333, // 文字 700
  800: #212121,
  900: #000000,
);