$black-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

$black-text-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
$sky-blue-text-shadow: 0 2px 8px rgb(85, 199, 255, 0.8);
$yellow-text-shadow: 0 2px 8px rgba(255, 252, 85, 0.8);
