$space-size-2: 2px;
$space-size-4: 4px;
$space-size-8: 8px;
$space-size-12: 12px;
$space-size-16: 16px;
$space-size-20: 20px;
$space-size-24: 24px;
$space-size-32: 32px;
$space-size-40: 40px;
$space-size-48: 48px;
$space-size-56: 56px;
$space-size-64: 64px;
$space-size-80: 80px;
$space-size-120: 120px;
$space-size-160: 160px;
